@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Choose actor";
}

@section Header {}


@using Newtonsoft.Json
@model Kroeg.Server.Controllers.AuthController.OAuthActorModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-controller="Auth" asp-action="DoChooseActorOAuth" method="post">
    <ul>
        @foreach (var actor in Model.Actors)
        {
            <li>
                <input type="radio" name="ActorID" id="ActorID-@actor.Actor.Id" value="@actor.Actor.Id" /> <label for="ActorID-@actor.Actor.Id">@actor.Actor.Data["name"].First().Primitive (@actor.Actor.Id)</label>
                <label for="ActorID-@actor.Actor.Id"><pre>@actor.Actor.Data.Serialize().ToString(Formatting.Indented)</pre></label>
            </li>
        }
    </ul>
    <input type="submit" value="Get token"/>
    <input type="hidden" asp-for="ResponseType" value="@Model.ResponseType" />
    <input type="hidden" asp-for="RedirectUri" value="@Model.RedirectUri" />
    <input type="hidden" asp-for="State" value="@Model.State" />
</form>
