@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Kroeg.Server.Services
@using Kroeg.Server.Services.EntityStore
@using Kroeg.Server.Tools
@model Kroeg.Server.Models.APEntity

@inject EntityData entityConfiguration
@inject CollectionTools collectionTools
@inject IEntityStore entityStore

@{
    var published = DateTime.Parse((string) Model.Data["published"].SingleOrDefault()?.Primitive);
    var publishedText = published.ToString("hh:mm");

    if (published.Date != DateTime.Today)
    {
        publishedText = published.ToString("MMM dd");
    }

    var theObject = await entityStore.GetEntity((string) Model.Data["object"].First().Primitive, true);
}

<div class="k-object k-object-like">
    @{
        var actorData = (await entityStore.GetEntity((string) Model.Data["actor"].First().Primitive, true)).Data;
        var icon = (string) actorData["icon"].FirstOrDefault()?.Primitive ?? "http://via.placeholder.com/48x48";
        var name = (string) actorData["name"].FirstOrDefault()?.Primitive;
        var id = (string) actorData["id"].First().Primitive;
    }

    <div class="k-object-header">
        <a href="@id" class="k-actor-icon"><img src="@icon" width="48" height="48" alt="Avatar"/></a>
        <span class="k-object-icon">♲</span>
        <a href="@id" class="k-actor-name">@name</a>
        <a href="@id" class="k-actor-id">@id</a>
        <span class="k-object-description">announced: </span>
    </div>
    <div class="k-object-content">@await Html.PartialAsync("Embed/Object", theObject)</div>
</div>